



<h1> your favorites </h1>
<% current_user.favos.each do |favo| %>
  you liked this pet:

  <% if favo.pet.image.attached? %>
    <div style="width:300px; height:auto">
    <%= link_to image_tag(favo.pet.image, style:"width:100%"), favo.pet %>
    <% else %>
    <div style="width:300px; height:auto">
    <%= link_to image_tag("/defimage.jpg", style:"width:100%"), favo.pet %>
    <% end %>
    </div>


  <% end %>

  




  <h1> All profiles </h1>
  <% current_user.profiles.each do |profile| %>
 profile:   <%= link_to profile.prof2.name, profile.prof2 %>
  <br>
    <% end %>